@font-face {
	font-family: "notes";
	src: url("../FONTS/classic_notes-webfont.woff2") format("woff2");
	font-weight: normal;
	font-style:normal;	
}

@font-face {
	font-family: "pixel";
	src: url("../FONTS/daydream-webfont.woff") format("woff");
	font-weight: normal;
	font-style:normal;	
}

body{
background-color: #E0E0D1;
font-family: "notes";
}


.banner{
    background-image: url(../IMG/REPETICIÓNFLOR.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagen {
    width: 80%;
}

.footer{
    background-color: #B470AD;
    height: 20vh;
    color:whitesmoke;
}

.container {
    padding-bottom: 40px;

}

.button {
color: whitesmoke ;
}

h1{
    font-family: "pixel";  
    padding-bottom: 20px;
}

.inicio
{ 
    font-size: 100px;
    padding: 250px 0px 20px;
}

.btn{
font-size: 30px;
padding-top: 180px;

}

.row {
    padding: 20px;
}

footer{
    font-size: 30px;
}

h5{
    font-size: 15px;   
}

